:root {
    --bg-color: #303030;
    --text-color: #CECECE;
    --brightest-light: #ECECEC;
    --color-light: #AA72CF;
    --color-dark: #6F3198;
    --font-largest: 3em;
    --font-large: 2em;
    --font-medium: 1.4em;
    --font-small: 1.2em;
    --font-regular: 16pt;
    --small-padding: 0px 5%;
    --big-padding: 3em 10% 0px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../media/background.png');
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: var(--font-regular);

    h1 {
        font-size: var(--font-largest);
        color: var(--brightest-light);
    }

    h2 {
        font-size: var(--font-large);
        color: var(--brightest-light);
    }

    h3 {
        font-size: var(--font-medium);
    }

    h4 {
        font-size: var(--font-small);
    }
}

%logo-height {
    height: 2.4em;
}

nav {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: var(--small-padding);
    box-sizing: border-box;

    ul {
        display: flex;
        list-style-type: none;
        font-size: var(--font-medium);
        margin: 0px;
        padding: 0px;

        li a {
            padding: 0px .4em;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--bg-color);
        }
    }

    #nav-logo {
        margin: .3em 0px;

        @extend %logo-height;
    }

    #menu-img {
        display: none;
    }
}

nav:not(.visible) .selected {
    background-color: var(--color-dark);
    color: var(--brightest-light);
}

section {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--big-padding);

    &:nth-of-type(2n) {
        background-color: #ffffff09;
    }
}

#profile a {
    padding: .5em;
    border-radius: 5em;
    align-self: flex-start;
    background-color: var(--color-light);
    color: var(--bg-color);
    font-size: var(--font-medium);
    text-decoration: none;
    font-weight: bold;
}

%same-line-skill-title {
    display: inline-block;
}

#skills {

    ul {
        display: grid;
        padding: 0px;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;

        li {
            color: var(--bg-color) ;
            border-radius: 5em;
            background-color: var(--color-light);
            padding: 1rem;
            margin: 3rem 1rem;

            .rating {
                float: right;
                white-space: nowrap;
            }
        }

        @media (max-width: 1600px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: var(--small-padding);
    box-sizing: border-box;
    padding-bottom: 1em;

    span {
        font-size: var(--font-medium);
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        display: inline-block;
        padding: .1em;

        img {
            height: 1.2em;
        }
    }

    #find-me span {
        display: inline-block;
        padding: .2em 0px;
    }

    #copyright {
        display: flex;
        align-items: center;

        img {

            @extend %logo-height;
            margin: .3em;
        }

        span {
            font-size: var(--font-medium);
            padding: .1em;
        }
    }
}

/*navigation for mobile*/

@media (max-width: 800px) {

    nav {
        padding: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;

        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: var(--small-padding);
            box-sizing: border-box;
        }

        ul {
            display: none;
        }

        #menu-img {
            display: flex;
            padding: 0px 0.4em;
        }
    }

    nav.visible {
        height: 100vh;

        ul {
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        li {
            flex-grow: 1;
        }
    }

}